# Wandb files
wandb/

# Pycache
__pycache__/

# DS_Store
.DS_Store

# Virtual environment
venv/

# Datasets
datasets/

# Models
models/

# Slurm logs
slurm_logs/

# Dataset downloading code
done/

# Temporary files
tmp_trainer/

# Config files
.cursorignore

# Output files
*.jsonl
*.out